{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/header_footer.css' %}">
{% endblock %}

{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card col-4 m-3">
      <div class="card-header">
        Отправить письмо для сброса пароля
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              {{ field.label_tag }}
              {{ field }}
            </div>
          {% endfor %}
          <button type="submit">Отправить письмо</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}